


<%-include('header')%>

<style>
    
    .cart-symbol {
      font-size: 24px;
      color: black;
      text-decoration: none;
    }
    
    .deals-title {
  font-size: 28px;
  color: #333; /* Change color as desired */
  /* Add more styling properties as needed */
}
#pic img{
  height: 30vh;
  width: 14vw;
  margin-left:54px;
}
.navbar-nav  a,.navbar a{
  font-size: 1.4rem;
}
 /* Fixed size for carousel images */
 .carousel-item img {
    width: 100%; /* Full width within the container */
    height: 500px; /* Set your preferred height */
    object-fit: cover; /* Maintain aspect ratio */
  }
  </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3">
      <img src="/image/logo.png"  class="img-fluid" style="width:120px;height:70px;">
        <a class="navbar-brand" href="/project/public/image/banner1.webp"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: 6rem; gap: 2rem;">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMobile" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Mobile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMobile">
                        <a class="dropdown-item" href="#">Apple</a>
                        <a class="dropdown-item" href="#">Samsung</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Apple</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Samsung</a>
                </li>
            </ul>

            <br>
<div class="container text-center">
  <h2 class="deals-title">Deals inspired by your recent history</h2>
</div>

   
  
  <br>
  <br>

  <div class="row row-cols-1 row-cols-md-4 g-4 mx-3" id="pic">
    <div class="col mb-4">
      <div class="card h-100 ">
       <div>
        <img src="project\public\image\71nm7FDuYhL._AC_UY327_FMwebp_QL65_.webp"  class="card-img-top" alt="...">
       </div>
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy Note 20 Ultra 5G (Mystic Black, 12GB RAM, 256GB Storage)</h5>
          <p class="card-text">
            <span style="color: green;">4.62,51,034 Ratings & 9,656 Reviews</span>
            <br>
            
            <span style="color: green;">-36% ₹76,499
                M.R.P.: ₹1,19,999</span>
            <br>
            i + ₹99 Secured Packaging Fee
          </p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
    <!-- Repeat the above structure for other cards -->
    <div class="col mb-4">
      <div class="card h-100">
        <img src="project\public\image\-original-imagmg6gktts6sfy.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SAMSUNG Galaxy S23 Ultra 5G (Cream, 256 GB)  (12 GB RAM)</h5>
          <p class="card-text">
            <span style="color: green;">4.62,371 Ratings & 251 Reviews</span>
            <br>
            <span style="color: green;">Extra ₹7000 off</span>
            <br>
            <span style="color: green;">₹1,24,999₹1,49,99916% off</span>
          </p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="project\public\image\61RZDb2mQxL._AC_SY145_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy S23 5G (Green, 8GB, 128GB Storage)</h5>
          <p class="card-text">
           
            -17% ₹74,999
            M.R.P.: ₹89,999
          </p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="project\public\image\81ZSn2rk9WL._AC_UY327_QL65_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy M14 5G (ICY Silver,6GB,128GB)|50MP Triple Cam|</h5>
          <p class="card-text">
            <span style="color: green;">4.113,251 Ratings & 1,512 Reviews</span>
            <br>
            <span style="color: green;">Extra ₹4000 off</span>
            <br>
            <span style="color: green;">-26% ₹13,990
                M.R.P.: ₹18,990</span>
          </p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
  </div>

<br>


<img src="project\public\image\galaxy-s22-ultra_highlights_accessories_s.webp" alt="Main Banner" class="img-fluid" style="width:100%;height: 800px;">

  
  <br>
  <br>
<!--------------------- 2 row cards -------------->
  <div class="row row-cols-1 row-cols-md-4 g-4 mx-3" id="pic">
    <div class="col mb-4">
      <div class="card h-100 ">
       <div>
        <img src="project\public\image\71f2I8cltBL._AC_UY327_FMwebp_QL65_.webp"  class="card-img-top" alt="...">
       </div>
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy Z Flip (Black, 8GB RAM, 256GB Storage)</h5>
          <p class="card-text">
            <span style="color: green;">4.62,51,034 Ratings & 9,656 Reviews</span>
            <br>
            <span style="color: green;">Extra ₹9401 off</span>
            <br>
            <span style="color: green;">₹50,499₹69,90013% off</span>
            <br>
            i + ₹99 Secured Packaging Fee
          </p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
    
    <div class="col mb-4">
      <div class="card h-100">
        <img src="project\public\image\81eYTNOOZvL._AC_UY327_FMwebp_QL65_.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy A14 5G (Black, 4GB, 64GB Storage) | Triple Rear Camera (50 MP Main)</h5>
          <p class="card-text">
            <span style="color: green;">1,364 ratings & 251 Reviews</span>
            <br>
            
            
            <span style="color: green;">-22% ₹14,499
              M.R.P.: ₹18,499</span>
          </p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="project\public\image\81-tqKsrTuL._AC_UY327_FMwebp_QL65_.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy M52 5G (ICY Blue, 8GB RAM, 128GB Storage) Latest Snapdragon 778G 5G  </h5>
          <p class="card-text">
            
            ₹28,990 M.R.P: ₹36,999 (22% off)
          </p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="project\public\image\71RLYJvBidL._AC_UY327_QL65_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy Z Fold5 5G (Phantom Black, 12GB RAM, 512GB Storage)</h5>
          <p class="card-text">
            <span style="color: green;">4.113,251 Ratings & 1,512 Reviews</span>
            <br>
            
            <span style="color: green;">-3% ₹1,64,999
                M.R.P.: ₹1,69,999</span>
          </p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>G-CART
            </h6>
            <p>E-commerse Platform</p>
         
          </div>
    
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
         
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Trivandram,Attingal</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
            ansifali369@gamil.com
            </p>
    
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold"  href="https://mdbootstrap.com/">ANSIF ALI
  
      </a>
    </div>
    <!-- Copyright -->
  </footer>

  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>